<header>
        <nav>
            <h2>
                <a href="/" class="logo"><span class="bc">BC</span></a>
            </h2>
            
            <ul>
                <li> <a href="/">Inicio</a> </li>
                <li> <a href="/create">Agregar</a> </li>
            </ul>
        </nav>
</header>